* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* menu */
.menu-container {
    color: #fff;
    background-color: #2f6690;
    padding: 20px 0;

    /* flexbox */
    display: flex;
    justify-content: center;
}

.menu {
    width: 900px;

    /*debugging*/
    /* border: 1px solid #fff; */

    /* flexbox */
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
}

.menu * {
    font-size: 32px;
}


/* gameboard */
.main {
    padding: 20px 0;
    
    display: flex;
    justify-content: center;
}

div.board {
    width: 320px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.1rem;
}


div.spot {
    width: 100px;
    height: 100px;
    border: 1px solid #2f6690;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Add shadow effect */
    transition: box-shadow 0.3s ease;
    /* Smooth hover effect */
}

div.spot:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}